{% extends "main/base.html" %}
{% load staticfiles %}
{% load thumbnail %}
{% load embed_video_tags %}

{% block title %} | {{article.title|safe}}{% endblock %}

{% block main %}
	<div id="make-count" data-id="{{article.id}}"></div>
	<div class="content">
		<div class="container last-videos">
			<div class="col-70">
				<h3><span class="date">29 Հուլիս, 2017</span>{{article.title|safe}}</h3>
				{% if article.video %}
					{% video article.video query="rel=0&wmode=transparent" as my_video %}
						<iframe  src="{{ my_video.url }}" frameborder="0" allowfullscreen></iframe>
					{% endvideo %}
				{% elif article.img %}
			 		<img src="{{ article.img.url }}">
				{% endif %}
				<div class="clearfix">
					<div class="right social-icons">
						<a class="icon-facebook" href="#"></a>
						<a class="icon-social-youtube" href="#"></a>
						<a class="icon-twitter" href=""></a>
						<a class="icon-vkontakte" href=""></a>
						<a class="icon-social-skype" href=""></a>
					</div>
				</div>
				<div class="video-description">
					{{article.desc|safe}}
				</div>
				<div class="video-galery slider fotorama"
				     data-loop="true"
				     data-width="100%"
				     data-autoplay="false"
				     data-arrows="true"
				     data-click="true"
				     data-swipe="true"
				     data-transition="slide">
					{% for item in article.images.all %}
				 		<img src="{{ item.image.url }}">
					{% endfor %}
				</div>
					<!-- Saq estex dir commentneri mas@ -->
			</div>
			<ul class="col-30">			
				{% for item in article_related_data %}
					<li>
						<a href="{% url 'article' item.id %}">
							<div class="col-40 icon-youtube-play">
								{% if item.video %}
									{% video item.video as my_video %}
										{% thumbnail my_video.thumbnail  '130x85' crop='center' as im %}
											<img src="{{im.url}}">
										{% endthumbnail %}
									{% endvideo %}
								{% elif item.img %}
									{% thumbnail item.img  '130x85' crop='center' as im %}
										<img src="{{im.url}}">
									{% endthumbnail %}
								{% endif %}
							</div>
							<h3 class="col-60">{{item.title}}<span class="date">{{item.publish_date|date:"j.m.Y H:i" }}</span></h3>
						</a>
					</li>
				{% endfor %}				
			</ul>
		</div>
	</div>


{% endblock %}