{% extends "main/base.html" %}
{% load staticfiles %}
{% load thumbnail %}
{% load embed_video_tags %}

{% block title %} | Գլխավոր{% endblock %}

{% block main %}
		<div class="content">
			<div class="container slider-newsfeed">
				<div class="slider col-60">
					<div class="fotorama"
					     data-loop="true"
					     data-width="100%"
					     data-autoplay="false"
					     data-stopautoplayontouch="false"
					     data-arrows="true"
					     data-click="true"
					     data-swipe="true"
					     data-transition="slide">
						{% for item in general_slider_data %}						
							 <div data-img="
								{% if item.video %}
									{% video item.video as my_video %}
										{% thumbnail my_video.thumbnail 1400x850 crop='smart' target='10,20' as thumb %}
										{{thumb.url}}
									{% endvideo %}
								{% elif item.img %}
									{% thumbnail item.img 1400x850 crop='smart' target='10,20' as thumb %}
									{{thumb.url}}
								{% endif %}
							 ">
							    <div class="description">
								     <p>{{item.title}}</p>
								</div>
							 </div>
						{% endfor %}
					</div>
				</div>
				<div class="newsfeed col-40">
					<h2 class="heading">Լրահոս</h2>
					<ul>
						{% for item in news_line_data %}
							<li>
								<a href="{% url 'article' item.id %}">
									{% if item.video %}
										{% video item.video as my_video %}
											<img src="{{my_video.thumbnail}}">
										{% endvideo %}
									{% elif item.img %}
										{% thumbnail item.img 103x55  crop='smart' as thumb %}
										<img src="{{thumb.url}}">
									{% endif %}
									<p><span class="date">21.07.2017 15:12</span>
										{{item.title}}
									</p>
								</a>
							</li>
						{% endfor %}						
					</ul>
				</div>
			</div>
			<div class="watch-live">
				<div class="container">
					<h2 class="heading col-100">Հիմա եթերում</h2>
					<div class=" video-live col-50 icon-youtube-play">
						<img src="images/slide2.jpg">
					</div>
					<div class="tv-program col-50">
						<h3>Ծրագիր</h3>
						<h5 class="today">Այսօր, 22.07.2017 Շաբաթ</h5>
						<ul>
							<li>
								<span class="time">19:00</span>
								<span class="program-name">Հայլուր</span>
							</li>
							<li>
								<span class="time">20:00</span>
								<span class="program-name">Գ/Ֆ Քեյթն ու Լեոն</span>
							</li>
							<li>
								<span class="time">21:30</span>
								<span class="program-name">Նաիրյան արկածներ</span>
							</li>
							<li>
								<span class="time">22:30</span>
								<span class="program-name">Շտապ Օգնություն</span>
							</li>
							<li>
								<span class="time">23:00</span>
								<span class="program-name">Հայլուր</span>
							</li>
							<li>
								<span class="time">00:00</span>
								<span class="program-name">Անտիպատմություն</span>
							</li>
							<li>
								<span class="time">00:00</span>
								<span class="program-name">Անտիպատմություն</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="programs haylur-slider">
				<div class="container">
					<h2 class="heading">ՀԱՅԼՈՒՐ Լրատվական</h2>
					<div class="list_carousel">
						<ul id="haylur_slider">
							<li><img src="images/news3.jpg"/></li>
						  	<li><img src="images/news2.jpg"/></li>
						  	<li><img src="images/news3.jpg"/></li>
						  	<li><img src="images/news2.jpg"/></li>
						  	<li><img src="images/news3.jpg"/></li>
						  	<li><img src="images/news2.jpg"/></li>
						  	<li><img src="images/news3.jpg"/></li>
						  	<li><img src="images/news2.jpg"/></li>
						  	<li><img src="images/news3.jpg"/></li>
						  	<li><img src="images/news2.jpg"/></li>
						  	<li><img src="images/news3.jpg"/></li>
						  	<li><img src="images/news2.jpg"/></li>
						  	<li><img src="images/news3.jpg"/></li>
						  	<li><img src="images/news2.jpg"/></li>
						  	<li><img src="images/news3.jpg"/></li>
						  	<li><img src="images/news2.jpg"/></li>
						</ul>
						<div class="clearfix"></div>
						<a id="prev2" class="prev icon-angle-left" href="#"></a> <a id="next2" class="next icon-angle-right" href="#"></a>
						<div id="pager2" class="pager"></div>
					</div>
				</div>
			</div>
			<div class="programs">
				<h2 class="container heading">Հաղորդումներ</h2>
				<ul class="container programs-list">
					<li class="program col-25">
						<div class="main-img">
							<img src="images/slide1.jpg">
							<div class="description">
								<h3>Հայլուր</h3>
								<p>Հանրապետության Նախագահը մասնակցել է ԱՊՀ պետությունների ղեկավարների խորհրդի նիստին:</p>
							</div>
						</div>
						<h4>Հայլուր <span>Ամեն օր, 21:00</span></h4>
					</li>
					<li class="program col-25">
						<div class="main-img">
							<img src="images/shtapognutyun1.jpg">
							<div class="description">
								<h3>Շտապ Օգնություն</h3>
								<p>Հանրապետության Նախագահը մասնակցել է ԱՊՀ պետությունների ղեկավարների խորհրդի նիստին:</p>
							</div>
						</div>
						<h4>Շտապ Օգնություն <span>Երկ - Ուրբ, 19:00</span></h4>
					</li>
					<li class="program col-25">
						<div class="main-img">
							<img src="images/nairyan1.jpg">
							<div class="description">
								<h3>Նաիրյան Արկածներ</h3>
								<p>Հանրապետության Նախագահը մասնակցել է ԱՊՀ պետությունների ղեկավարների խորհրդի նիստին:</p>
							</div>
						</div>
						<h4>Նաիրյան Արկածներ <span>Կրկ, 22:00</span></h4>
					</li>
					<li class="program col-25">
						<div class="main-img">
							<img src="images/antipatmutyun1.jpg">
							<div class="description">
								<h3>Հայլուր</h3>
								<p>Հանրապետության Նախագահը մասնակցել է ԱՊՀ պետությունների ղեկավարների խորհրդի նիստին:</p>
							</div>
						</div>
						<h4>Անտիպատմություն <span>Ամեն օր, 21:00</span></h4>
					</li>
					<li class="program col-25">
						<div class="main-img">
							<img src="images/oponent1.jpg">
							<div class="description">
								<h3>Նաիրյան Արկածներ</h3>
								<p>Հանրապետության Նախագահը մասնակցել է ԱՊՀ պետությունների ղեկավարների խորհրդի նիստին:</p>
							</div>
						</div>
						<h4>Օպոնենտ <span>Կրկ, 22:00</span></h4>
					</li>
					<li class="program col-25">
						<div class="main-img">
							<img src="images/tohmacar1.jpg">
							<div class="description">
								<h3>Հայլուր</h3>
								<p>Հանրապետության Նախագահը մասնակցել է ԱՊՀ պետությունների ղեկավարների խորհրդի նիստին:</p>
							</div>
						</div>
						<h4>Տոհմածառ <span>Ամեն օր, 21:00</span></h4>
					</li>
					<li class="program col-25">
						<div class="main-img">
							<img src="images/slide2.jpg">
							<div class="description">
								<h3>Շտապ Օգնություն</h3>
								<p>Հանրապետության Նախագահը մասնակցել է ԱՊՀ պետությունների ղեկավարների խորհրդի նիստին:</p>
							</div>
						</div>
						<h4>Շտապ Օգնություն <span>Երկ - Ուրբ, 19:00</span></h4>
					</li>
					<li class="program col-25">
						<div class="main-img">
							<img src="images/slide3.jpg">
							<div class="description">
								<h3>Հայլուր</h3>
								<p>Հանրապետության Նախագահը մասնակցել է ԱՊՀ պետությունների ղեկավարների խորհրդի նիստին:</p>
							</div>
						</div>
						<h4>Հայլուր <span>Ամեն օր, 21:00</span></h4>
					</li>
				</ul>
				<div class="programs-categories">
					<div class="container">
						<div class="col-50">
							<h3>Հայլուր<span>Ամեն օր, 21:00</span></h3>
							<ul>
								<li class="col-50 icon-youtube-play">
									<img src="images/slide1.jpg">
								</li>
								<li class="col-50 icon-youtube-play">
									<img src="images/haylur2.jpg">
								</li>
								<li class="col-50 icon-youtube-play">
									<img src="images/haylur3.jpg">
								</li>
								<li class="col-50 icon-youtube-play">
									<img src="images/slide2.jpg">
								</li>
							</ul>
						</div>
						<div class="col-50">
							<h3>Նաիրյան Արկածներ<span>Կրկ, 22:00</span></h3>
							<ul>
								<li class="col-50 icon-youtube-play">
									<img src="images/nairyan1.jpg">
								</li>
								<li class="col-50 icon-youtube-play">
									<img src="images/nairyan2.jpg">
								</li>
								<li class="col-50 icon-youtube-play">
									<img src="images/nairyan3.jpg">
								</li>
								<li class="col-50 icon-youtube-play">
									<img src="images/nairyan4.jpg">
								</li>
							</ul>
						</div>
						<div class="col-50">
							<h3>Շտապ Օգնություն<span>Երկ - Ուրբ, 19:00</span></h3>
							<ul>
								<li class="col-50 icon-youtube-play">
									<img src="images/shtapognutyun1.jpg">
								</li>
								<li class="col-50 icon-youtube-play">
									<img src="images/shtapognutyun2.jpg">
								</li>
								<li class="col-50 icon-youtube-play">
									<img src="images/shtapognutyun3.jpg">
								</li>
								<li class="col-50 icon-youtube-play">
									<img src="images/shtapognutyun4.jpg">
								</li>
							</ul>
						</div>
						<div class="col-50">
							<h3>Անտիպատմություն<span>Ամեն օր, 17:00</span></h3>
							<ul>
								<li class="col-50 icon-youtube-play">
									<img src="images/antipatmutyun1.jpg">
								</li>
								<li class="col-50 icon-youtube-play">
									<img src="images/antipatmutyun2.jpg">
								</li>
								<li class="col-50 icon-youtube-play">
									<img src="images/antipatmutyun3.jpg">
								</li>
								<li class="col-50 icon-youtube-play">
									<img src="images/antipatmutyun4.jpg">
								</li>
							</ul>
						</div>
						<div class="col-50">
							<h3>Տոհմածառ<span>Երք 18:00</span></h3>
							<ul>
								<li class="col-50 icon-youtube-play">
									<img src="images/tohmacar1.jpg">
								</li>
								<li class="col-50 icon-youtube-play">
									<img src="images/tohmacar1.jpg">
								</li>
								<li class="col-50 icon-youtube-play">
									<img src="images/tohmacar1.jpg">
								</li>
								<li class="col-50 icon-youtube-play">
									<img src="images/tohmacar1.jpg">
								</li>
							</ul>
						</div>
						<div class="col-50">
							<h3>Օպոնենտ<span>Երկ, Չրք, 19:30</span></h3>
							<ul>
								<li class="col-50 icon-youtube-play">
									<img src="images/oponent1.jpg">
								</li>
								<li class="col-50 icon-youtube-play">
									<img src="images/oponent2.jpg">
								</li>
								<li class="col-50 icon-youtube-play">
									<img src="images/oponent3.jpg">
								</li>
								<li class="col-50 icon-youtube-play">
									<img src="images/oponent4.jpg">
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="best-watch-list">
				<div class="container">
					<h2 class="heading">Ամենադիտվածը</h2>
					<ul class="list-inline">
						<li class="col-25 icon-youtube-play">
							<img src="images/slide2.jpg">
							<h2 class="program-name">Հայլուր 19.07.2017</h2>
						</li>
						<li class="col-25 icon-youtube-play">
							<img src="images/news2.jpg">
							<h2 class="program-name">Հայլուր 18.07.2017</h2>
						</li>
						<li class="col-25 icon-youtube-play">
							<img src="images/news3.jpg">
							<h2 class="program-name">Նաիրյան Արկածներ մաս 1 - 1 </h2>
						</li>
						<li class="col-25 icon-youtube-play">
							<img src="images/news4.jpg">
							<h2 class="program-name">Անտիպատմություն մաս 1 - 17</h2>
						</li>
					</ul>
				</div>
			</div>
		</div>
{% endblock %}