<div class="titler"><span>Գլխավոր թեմաներ</span></div>
<div class="mainNews clearfix">
	<div class="mainNewsLeft">
		<div class="mainNewsLarge">
			<a href="#">
				<img src="img/pics/1.jpg">
				<time>13:28</time>
				<b>Պուտինը ներկայացրել է Ուկրաինայի իրադրության կարգավորման ծրագիրը</b>
				<span>Արցախի հյուսիս-արևելյան ուղղությամբ տեղակայված զորամասերից մեկում զինծառայողների նախաձեռնությամբ փոքրիկ եկեղեցի է կառուցվում: Այս մասին լրագրողների հետ զրույցում ասաց զորամասի </span>
			</a>
		</div>
	</div>
	<div class="mainNewsRight">
		<div class="mainNewsSmall">
			<div class="mainNewsSmallBox clearfix">
				<a href="#">
					<img src="img/pics/2.jpg">
					<b>Հայաստանի և Արցախի ոստիկանները` հանցավորության դեմ միասնական պայքարում <time>17:32</time></b>
				</a>
				<a href="#">
					<img src="img/pics/3.jpg">
					<b>«Ռեալը» ձեռք է բերել «Մանչեսթեր Յունայթեդի» պաշտպանին <time>12:08</time></b>
				</a>
			</div>
			<div class="mainNewsSmallBox clearfix">
				<a href="#">
					<img src="img/pics/4.jpg">
					<b>Քաղաքագետ Լևոն Մելիք-Շահնազարյանը չի բացառում ԱՄՆ կողմից ԼՂՀ ճանաչումը <time>11:17</time></b>
				</a>
				<a href="#">
					<img src="img/pics/5.jpg">
					<b>Նշանակումներ և կոչումների շնորհում ԱԻՆ-ում <time>10:37</time></b>
				</a>
			</div>
		</div>
	</div>
</div>
<div class="mainLeftOne">
	<div class="titler"><b>Լրահոս</b></div>
	<div class="latest">
		<a href="#" class="latestUnit latestUnitImp">
			<time>14:58</time>
			<img src="img/v.png">
			<span>Սուրեն Խաչատրյանը իր՝ Սյունիքի մարզպետ նշանակվելու մասին</span>
		</a>
		<a href="#" class="latestUnit latestUnitImp">
			<time>14:53</time>
			<span>Մոնթեականները բարձր արդյունքներ են ցուցաբերել (լուսանկարներ)</span>
		</a>
		<a href="#" class="latestUnit">
			<time>14:41</time>
			<img src="img/p.png">
			<span>Վարորդական իրավունքի ստացումը ՌԴ-ում հնարավոր է թանկանա մի քանի անգամ</span>
		</a>
		<a href="#" class="latestUnit">
			<time>14:36</time>
			<img src="img/v.png">
			<span>Մալազիան և Ավստրալիան գումար կներդնեն անհետացած օդանավի որոնումը շարունակելու համար</span>
		</a>
		<a href="#" class="latestUnit">
			<time>14:34</time>
			<span>Յուրօրինակ 11 մետրանոց հարված (տեսանյութ)</span>
		</a>
		<a href="#" class="latestUnit latestUnitImp">
			<time>14:29</time>
			<img src="img/p.png">
			<span>Ավտովթար Սպիտակ-Ապարան ավտոճանապարհին. ճանապարհը դարձել էր միակողմանի երթևեկելի</span>
		</a>
		<a href="#" class="latestUnit">
			<time>14:22</time>
			<span>Amnesty International-ն Ադրբեջանին կոչ է արել հարգել խոսքի ազատությունը</span>
		</a>
		<a href="#" class="latestUnit latestUnitImp">
			<time>14:19</time>
			<img src="img/v.png">
			<span>Պատրաստ եմ մեռնել հանուն Ուկրաինայի. Պորոշենկո</span>
		</a>
		<a href="#" class="latestUnit latestUnitImp">
			<time>14:01</time>
			<span>US Open. եզրափակչում՝ Վոզնյացկի-Ուիլյամս</span>
		</a>
		<a href="#" class="latestUnit">
			<time>13:56</time>
			<img src="img/p.png">
			<span>Քուվեյթի դեսպանը վերահաստատել է «Նոր Հալեպ»-ին նյութապես աջակցելու պատրաստակամությունը</span>
		</a>
		<a href="#" class="latestUnit">
			<time>13:42</time>
			<img src="img/v.png">
			<span>Սպանություն Մարալիկում</span>
		</a>
		<a href="#" class="latestUnit latestUnitImp">
			<time>13:39</time>
			<img src="img/p.png">
			<span>Էրդողանն ու Օբաման հանդիպել են Ուելսում</span>
		</a>
		<a href="#" class="latestUnit">
			<time>13:32</time>
			<span>Ռոնալդինյոն կարիերան կշարունակի Մեքսիկայում</span>
		</a>
		<a href="#" class="latestUnit">
			<time>13:27</time>
			<span>Թուրքիան պետք է առերեսվի իր պատմությանը. Էդվարդ Նալբանդյանի հոդվածը Lefigaro-ում</span>
		</a>
		<a href="#" class="latestUnit">
			<time>13:11</time>
			<span>ՊԲ դիրքապահների կողմից գերեվարվել է Ադրբեջանի քաղաքացի</span>
		</a>
		<a href="#" class="latestUnit">
			<time>13:03</time>
			<span>Աշխարհների պատերազմը Ուելսում</span>
		</a>
		<a href="#" class="latestUnit">
			<time>12:58</time>
			<span>Արոնյանն ընդդեմ Կարուանայի</span>
		</a>
		<a href="#" class="latestUnit">
			<time>12:52</time>
			<span>65 կատու՝ մի բնակարանում. մի կնոջ պատմություն (տեսանյութ)</span>
		</a>
		<a href="#" class="latestUnit">
			<time>12:48</time>
			<span>Արգելափակվել է ավտոմեքենա</span>
		</a>
		<a href="#" class="latestUnit">
			<time>12:45</time>
			<span>«ՉԻ». Պաշտոնավարման ընթացքում Արամ Հարությունյանը եկամտաբեր պաշտոններին նշանակել էր իր բարեկամներին, փուռը տվել` ընկերներին</span>
		</a>
		<a href="#" class="latestUnit">
			<time>14:58</time>
			<span>Սուրեն Խաչատրյանը իր՝ Սյունիքի մարզպետ նշանակվելու մասին</span>
		</a>
		<a href="#" class="latestUnit latestUnitImp">
			<time>14:53</time>
			<span>Մոնթեականները բարձր արդյունքներ են ցուցաբերել (լուսանկարներ)</span>
		</a>
		<a href="#" class="latestUnit">
			<time>14:41</time>
			<span>Վարորդական իրավունքի ստացումը ՌԴ-ում հնարավոր է թանկանա մի քանի անգամ</span>
		</a>
		<a href="#" class="latestUnit latestUnitImp">
			<time>14:36</time>
			<span>Մալազիան և Ավստրալիան գումար կներդնեն անհետացած օդանավի որոնումը շարունակելու համար</span>
		</a>
		<a href="#" class="latestUnit latestUnitImp">
			<time>14:34</time>
			<span>Յուրօրինակ 11 մետրանոց հարված (տեսանյութ)</span>
		</a>
		<a href="#" class="latestUnit latestUnitImp">
			<time>14:29</time>
			<span>Ավտովթար Սպիտակ-Ապարան ավտոճանապարհին. ճանապարհը դարձել էր միակողմանի երթևեկելի</span>
		</a>
		<a href="#" class="latestUnit">
			<time>14:22</time>
			<span>Amnesty International-ն Ադրբեջանին կոչ է արել հարգել խոսքի ազատությունը</span>
		</a>
		<a href="#" class="latestUnit">
			<time>14:19</time>
			<span>Պատրաստ եմ մեռնել հանուն Ուկրաինայի. Պորոշենկո</span>
		</a>
		<a href="#" class="latestUnit">
			<time>14:01</time>
			<span>US Open. եզրափակչում՝ Վոզնյացկի-Ուիլյամս</span>
		</a>
		<a href="#" class="latestUnit latestUnitImp">
			<time>13:56</time>
			<span>Քուվեյթի դեսպանը վերահաստատել է «Նոր Հալեպ»-ին նյութապես աջակցելու պատրաստակամությունը</span>
		</a>
		<a href="#" class="latestUnit">
			<time>13:42</time>
			<span>Սպանություն Մարալիկում</span>
		</a>
		<a href="#" class="latestUnit">
			<time>13:39</time>
			<span>Էրդողանն ու Օբաման հանդիպել են Ուելսում</span>
		</a>
		<a href="#" class="latestUnit latestUnitImp">
			<time>13:32</time>
			<span>Ռոնալդինյոն կարիերան կշարունակի Մեքսիկայում</span>
		</a>
		<a href="#" class="latestUnit latestUnitImp">
			<time>13:27</time>
			<span>Թուրքիան պետք է առերեսվի իր պատմությանը. Էդվարդ Նալբանդյանի հոդվածը Lefigaro-ում</span>
		</a>
		<a href="#" class="latestUnit">
			<time>13:11</time>
			<span>ՊԲ դիրքապահների կողմից գերեվարվել է Ադրբեջանի քաղաքացի</span>
		</a>
		<a href="#" class="latestUnit latestUnitImp">
			<time>13:03</time>
			<span>Աշխարհների պատերազմը Ուելսում</span>
		</a>
		<a href="#" class="latestUnit">
			<time>12:58</time>
			<span>Արոնյանն ընդդեմ Կարուանայի</span>
		</a>
		<a href="#" class="latestUnit">
			<time>12:52</time>
			<span>65 կատու՝ մի բնակարանում. մի կնոջ պատմություն (տեսանյութ)</span>
		</a>
		<a href="#" class="latestUnit">
			<time>12:48</time>
			<span>Արգելափակվել է ավտոմեքենա</span>
		</a>
		<a href="#" class="latestUnit latestUnitImp">
			<time>12:45</time>
			<span>«ՉԻ». Պաշտոնավարման ընթացքում Արամ Հարությունյանը եկամտաբեր պաշտոններին նշանակել էր իր բարեկամներին, փուռը տվել` ընկերներին</span>
		</a>
	</div>
	<div class="allLatest">
		<a href="#">Ամբողջ լրահոսը</a>
	</div>
	<div class="catOnMain clearfix">
		<div class="titler"><a href="#" class="yellowTitler">Քաղաքականություն</a></div>
		<div class="catOnMainLeft clearfix">
			<a href="#">
				<img src="img/pics/2.jpg">
				<span>Խոհարար Ազարենկան, Իվանովիչը երեկույթի ժամանակ. գեղեցկուհի թենիսիստները՝ սոցցանցերում (լուսանկարներ)</span>
				<time>12.09.2014 - 11:59</time>
			</a>
			<a href="#">
				<img src="img/pics/3.jpg">
				<span>Փախստականները վերադառնում են Լուգանսկ</span>
				<time>12.09.2014 - 10:58</time>
			</a>
		</div>
		<div class="catOnMainRight">
			<a href="#">
				<time>12:52</time>
				<span>65 կատու՝ մի բնակարանում. մի կնոջ պատմություն (տեսանյութ)</span>
			</a>
			<a href="#">
				<time>12:48</time>
				<span>Արգելափակվել է ավտոմեքենա</span>
			</a>
			<a href="#">
				<time>12:45</time>
				<span>«ՉԻ». Պաշտոնավարման ընթացքում Արամ Հարությունյանը եկամտաբեր պաշտոններին նշանակել էր իր բարեկամներին, փուռը տվել` ընկերներին</span>
			</a>
		</div>
	</div>
	<div class="catOnMain clearfix">
		<div class="titler"><a href="#" class="yellowTitler">Քաղաքականություն</a></div>
		<div class="catOnMainLeft clearfix">
			<a href="#">
				<img src="img/pics/2.jpg">
				<span>Խոհարար Ազարենկան, Իվանովիչը երեկույթի ժամանակ. գեղեցկուհի թենիսիստները՝ սոցցանցերում (լուսանկարներ)</span>
				<time>12.09.2014 - 11:59</time>
			</a>
			<a href="#">
				<img src="img/pics/3.jpg">
				<span>Փախստականները վերադառնում են Լուգանսկ</span>
				<time>12.09.2014 - 10:58</time>
			</a>
		</div>
		<div class="catOnMainRight">
			<a href="#">
				<time>12:52</time>
				<span>65 կատու՝ մի բնակարանում. մի կնոջ պատմություն (տեսանյութ)</span>
			</a>
			<a href="#">
				<time>12:48</time>
				<span>Արգելափակվել է ավտոմեքենա</span>
			</a>
			<a href="#">
				<time>12:45</time>
				<span>«ՉԻ». Պաշտոնավարման ընթացքում Արամ Հարությունյանը եկամտաբեր պաշտոններին նշանակել էր իր բարեկամներին, փուռը տվել` ընկերներին</span>
			</a>
		</div>
	</div>
	<div class="catOnMain clearfix">
		<div class="titler"><a href="#" class="yellowTitler">Քաղաքականություն</a></div>
		<div class="catOnMainLeft clearfix">
			<a href="#">
				<img src="img/pics/2.jpg">
				<span>Խոհարար Ազարենկան, Իվանովիչը երեկույթի ժամանակ. գեղեցկուհի թենիսիստները՝ սոցցանցերում (լուսանկարներ)</span>
				<time>12.09.2014 - 11:59</time>
			</a>
			<a href="#">
				<img src="img/pics/3.jpg">
				<span>Փախստականները վերադառնում են Լուգանսկ</span>
				<time>12.09.2014 - 10:58</time>
			</a>
		</div>
		<div class="catOnMainRight">
			<a href="#">
				<time>12:52</time>
				<span>65 կատու՝ մի բնակարանում. մի կնոջ պատմություն (տեսանյութ)</span>
			</a>
			<a href="#">
				<time>12:48</time>
				<span>Արգելափակվել է ավտոմեքենա</span>
			</a>
			<a href="#">
				<time>12:45</time>
				<span>«ՉԻ». Պաշտոնավարման ընթացքում Արամ Հարությունյանը եկամտաբեր պաշտոններին նշանակել էր իր բարեկամներին, փուռը տվել` ընկերներին</span>
			</a>
		</div>
	</div>
	<div class="catOnMain clearfix">
		<div class="titler"><a href="#" class="yellowTitler">Քաղաքականություն</a></div>
		<div class="catOnMainLeft clearfix">
			<a href="#">
				<img src="img/pics/2.jpg">
				<span>Խոհարար Ազարենկան, Իվանովիչը երեկույթի ժամանակ. գեղեցկուհի թենիսիստները՝ սոցցանցերում (լուսանկարներ)</span>
				<time>12.09.2014 - 11:59</time>
			</a>
			<a href="#">
				<img src="img/pics/3.jpg">
				<span>Փախստականները վերադառնում են Լուգանսկ</span>
				<time>12.09.2014 - 10:58</time>
			</a>
		</div>
		<div class="catOnMainRight">
			<a href="#">
				<time>12:52</time>
				<span>65 կատու՝ մի բնակարանում. մի կնոջ պատմություն (տեսանյութ)</span>
			</a>
			<a href="#">
				<time>12:48</time>
				<span>Արգելափակվել է ավտոմեքենա</span>
			</a>
			<a href="#">
				<time>12:45</time>
				<span>«ՉԻ». Պաշտոնավարման ընթացքում Արամ Հարությունյանը եկամտաբեր պաշտոններին նշանակել էր իր բարեկամներին, փուռը տվել` ընկերներին</span>
			</a>
		</div>
	</div>
	<div class="catOnMain clearfix">
		<div class="titler"><a href="#" class="yellowTitler">Քաղաքականություն</a></div>
		<div class="catOnMainLeft clearfix">
			<a href="#">
				<img src="img/pics/2.jpg">
				<span>Խոհարար Ազարենկան, Իվանովիչը երեկույթի ժամանակ. գեղեցկուհի թենիսիստները՝ սոցցանցերում (լուսանկարներ)</span>
				<time>12.09.2014 - 11:59</time>
			</a>
			<a href="#">
				<img src="img/pics/3.jpg">
				<span>Փախստականները վերադառնում են Լուգանսկ</span>
				<time>12.09.2014 - 10:58</time>
			</a>
		</div>
		<div class="catOnMainRight">
			<a href="#">
				<time>12:52</time>
				<span>65 կատու՝ մի բնակարանում. մի կնոջ պատմություն (տեսանյութ)</span>
			</a>
			<a href="#">
				<time>12:48</time>
				<span>Արգելափակվել է ավտոմեքենա</span>
			</a>
			<a href="#">
				<time>12:45</time>
				<span>«ՉԻ». Պաշտոնավարման ընթացքում Արամ Հարությունյանը եկամտաբեր պաշտոններին նշանակել էր իր բարեկամներին, փուռը տվել` ընկերներին</span>
			</a>
		</div>
	</div>
</div>
<div class="mainLeftTow">
	<div class="titler"><b>Ֆոտո / Վիդեո</b></div>
	<div class="mainMultimediaUnit">
		<a href="#">
			<img src="img/pics/1.jpg">
			<span>Ալիևը սեփական դեմքը «փրկելու» ճիգեր է գործադրում</span>
			<time>12.09.2014 - 12:45</time>
		</a>
		<div class="mediaV"></div>
	</div>
	<div class="mainMultimediaUnit">
		<a href="#">
			<img src="img/pics/2.jpg">
			<span>Խոհարար Ազարենկան, Իվանովիչը երեկույթի ժամանակ. գեղեցկուհի թենիսիստները՝ սոցցանցերում (լուսանկարներ)</span>
			<time>12.09.2014 - 11:59</time>
		</a>
		<div class="mediaV"></div>
	</div>
	<div class="mainMultimediaUnit">
		<a href="#">
			<img src="img/pics/3.jpg">
			<span>Փախստականները վերադառնում են Լուգանսկ</span>
			<time>12.09.2014 - 10:58</time>
		</a>
		<div class="mediaP"></div>
	</div>
	<div class="mainMultimediaUnit">
		<a href="#">
			<img src="img/pics/4.jpg">
			<span>Էդվարդ Նալբանդյանը՝ Հունաստանի խորհրդարանի կողմից ընդունած օրենքի մասին</span>
			<time>12.09.2014 - 10:24</time>
		</a>
		<div class="mediaV"></div>
	</div>
	<div class="mainMultimediaUnit">
		<a href="#">
			<img src="img/pics/5.jpg">
			<span>Արսեն Բաբայանը` ԱԺ հասարակայնության և տեղեկատվության միջոցների հետ կապերի վարչության պետ</span>
			<time>12.09.2014 - 09:47</time>
		</a>
		<div class="mediaP"></div>
	</div>
	<div class="mainMultimediaUnit">
		<a href="#">
			<img src="img/pics/6.jpg">
			<span>ԴԺՀ-ն և ԼԺՀ-ն մնալու են Ուկրաինայի կազմում. Պորոշենկո</span>
			<time>12.09.2014 - 09:15</time>
		</a>
	</div>
	<div class="mainMultimediaUnit">
		<a href="#">
			<img src="img/pics/7.jpg">
			<span>Ալիևը սեփական դեմքը «փրկելու» ճիգեր է գործադրում</span>
			<time>12.09.2014 - 08:45</time>
		</a>
		<div class="mediaV"></div>
	</div>
	<div class="mainMultimediaUnit">
		<a href="#">
			<img src="img/pics/1.jpg">
			<span>Ալիևը սեփական դեմքը «փրկելու» ճիգեր է գործադրում</span>
			<time>12.09.2014 - 12:45</time>
		</a>
		<div class="mediaV"></div>
	</div>
	<div class="mainMultimediaUnit">
		<a href="#">
			<img src="img/pics/2.jpg">
			<span>Խոհարար Ազարենկան, Իվանովիչը երեկույթի ժամանակ. գեղեցկուհի թենիսիստները՝ սոցցանցերում (լուսանկարներ)</span>
			<time>12.09.2014 - 11:59</time>
		</a>
		<div class="mediaV"></div>
	</div>
	<div class="mainMultimediaUnit">
		<a href="#">
			<img src="img/pics/3.jpg">
			<span>Փախստականները վերադառնում են Լուգանսկ</span>
			<time>12.09.2014 - 10:58</time>
		</a>
		<div class="mediaP"></div>
	</div>
</div>