<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link rel="stylesheet" type="text/css" href="fotorama.4.6.3/fotorama/fotorama.css">
		<title>Հայլուր Լրատվական</title>
		<link rel="icon" href="images/logo.png" />
		<meta charset="utf-8">
	</head>

	<body class="programs-categories">
		<header>
			<div class="info-container">
				<ul class="container clearfix">
					<li class="date left">Երևան 18.07.2017<span class="time">23:41</span></li>
					<li class="weather left"><span class="deg">31</span></li>
					<li class="currency left">
						<ul>
							<li>
								<span class="currency-name">USD 478.82</span>
							</li>
							<li>
								<span class="currency-name">GBP 622.85</span>
							</li>
							<li>
								<span class="currency-name">EUR 557.59</span>
							</li>
							<li>
								<span class="currency-name">RUB 8.14</span>
							</li>
						</ul>
					</li>
					<li class="right social-icons">
						<a class="icon-facebook" href="#"></a>
						<a class="icon-social-youtube" href="#"></a>
						<a class="icon-twitter" href=""></a>
						<a class="icon-vkontakte" href=""></a>
						<a class="icon-social-skype" href=""></a>
					</li>
					<li class="search right">
						<input type="search" placeholder="Որոնում" /><i class="icon-search"></i>
					</li>
					<li class="phone right">
						<span><i class="icon-phone"></i>(010) 587222</span>
					</li>
				</ul>
			</div>
			<ul class="clearfix container logo-menu">
				<li class="left logo"><a href="index.html"></a></li>
				<li class="right main-menu">
					<ul class="list-inline menu">
						<li class="active">
							<a href="index.html">Գլխավոր</a>
						</li><li class="has-submenu">
							<a>Հաղորդումներ<i class="icon-angle-double-down"></i></a>
							<ul class="submenu list-inline">
								<li class="col-50">
									<h4>Լրատվական</h4>
									<ul class="sublist">
										<li><a href="programs.html">Հայլուր</a></li>
										<li><a href="programs.html">Օրակարգ</a></li>
									</ul>
								</li>
								<li class="col-50">
									<h4>Ճանաչողական</h4>
									<ul class="sublist">
										<li><a href="programs.html">Ճանաչենք Մեր Հայրենիքը</a></li>
										<li><a href="programs.html">Հայորդիներ</a></li>
										<li><a href="programs.html">Անտիպատմություն</a></li>
										<li><a href="programs.html">Նաիրյան Հայրենիք</a></li>
									</ul>
								</li>
							</ul>
						</li><li>
							<a>Լուրեր</a>
						</li><li>
							<a>Մեր մասին</a>
						</li><li>
							<a>Հետադարձ Կապ</a>
						</li>
					</ul>
				</li>
			</ul>
		</header>
		<button id="to_top_btn" class="icon-angle-up"></button>
		<div class="content">
			<div class="all-list-programs">
				<div class="container">
					<h2 class="heading">ՀԱՅԼՈՒՐ Լրատվական</h2>
					<ul class="program-last-videos list-inline">
						<li class="col-25">
						   <a href="show.html">
								<div class="icon-youtube-play">
									<img src="images/slide1.jpg">
								</div>
								<h3><span class="date">29.07.2017</span>Արտերկրի հետ համաարտադրության զարգացումը Կինոկենտրոնի նոր տնօրենի համար առաջնահերթություն է</h3>
							</a>
						</li>
						<li class="col-25">
						   <a href="show.html">
								<div class="icon-youtube-play">
									<img src="images/slide2.jpg">
								</div>
								<h3><span class="date">28.07.2017</span>Հայ օդաչուի սխրանքը՝ Ստամբուլի օդանավակայանում</h3>
							</a>
						</li>
						<li class="col-25">
						   <a href="show.html">
								<div class="icon-youtube-play">
									<img src="images/haylur2.jpg">
								</div>
								<h3><span class="date">27.07.2017</span>Սյունիքի մարզը՝ «չեմպիոն համայնք» սարքելու բանաձևը</h3>
							</a>
						</li>
						<li class="col-25">
						   <a href="show.html">
								<div class="icon-youtube-play">
									<img src="images/haylur3.jpg">
								</div>
								<h3><span class="date">26.07.2017</span>Փոթորիկ Վրաստանի սևծովյան ափերում, Թեհրանն՝ ընդդեմ պատժամիջոցների</h3>
							</a>
						</li>
						<li class="col-25">
						   <a href="show.html">
								<div class="icon-youtube-play">
									<img src="images/orakarg1.jpg">
								</div>
								<h3><span class="date">29.07.2017</span>Ապրիլյան պատերազմից հետո ՄԻԵԴ ուղարկված գանգատներից 23-ը վարույթ է ընդունվել</h3>
							</a>
						</li>
						<li class="col-25">
						   <a href="show.html">
								<div class="icon-youtube-play">
									<img src="images/orakarg2.jpg">
								</div>
								<h3><span class="date">28.07.2017</span>Ռուս-ադրբեջանական հարաբերություններում լարվածության նոր ալիք է հասունանում</h3>
							</a>
						</li>
						<li class="col-25">
						   <a href="show.html">
								<div class="icon-youtube-play">
									<img src="images/orakarg3.jpg">
								</div>
								<h3><span class="date">27.07.2017</span>Ադրբեջանը, Ռուսաստանի խիստ դիրքորոշմամբ պայմանավորված, հայտնվել է անելանելի վիճակում</h3>
							</a>
						</li>
						<li class="col-25">
						   <a href="show.html">
								<div class="icon-youtube-play">
									<img src="images/orakarg4.jpg">
								</div>
								<h3><span class="date">26.07.2017</span>Հայ-ֆրանսիական սուզորդական հետազոտությունների կենտրոնը Հայաստանում </h3>
							</a>
						</li>								
						<li class="col-25">
						   <a href="show.html">
								<div class="icon-youtube-play">
									<img src="images/antipatmutyun1.jpg">
								</div>
								<h3><span class="date">25.07.2017</span>«Կոմիտաս» պանթեոնում բացվել է Օֆելյա Համբարձումյանի հուշարձանը</h3>
							</a>
						</li>
						<li class="col-25">
						   <a href="show.html">
								<div class="icon-youtube-play">
									<img src="images/antipatmutyun2.jpg">
								</div>
								<h3><span class="date">24.07.2017</span>Ադրբեջանական քարոզչամեքենան՝ ծիծաղելի վիճակում</h3>
							</a>
						</li>
						<li class="col-25">
						   <a href="show.html">
								<div class="icon-youtube-play">
									<img src="images/antipatmutyun3.jpg">
								</div>
								<h3><span class="date">23.07.2017</span>«Էրդողանը վերջին մարդն է, ով կարող է խորհուրդ տալ Իսրայելին». Բենյամին Նեթանյահու</h3>
							</a>
						</li>
						<li class="col-25">
						   <a href="show.html">
								<div class="icon-youtube-play">
									<img src="images/antipatmutyun4.jpg">
								</div>
								<h3><span class="date">22.07.2017</span>Լապշինը դիմել է Բաքվում Իսրայելի ներկայացուցիչներին՝ արտահանձնման հարցով</h3>
							</a>
						</li>
						<li class="col-25">
						   <a href="show.html">
								<div class="icon-youtube-play">
									<img src="images/slide3.jpg">
								</div>
								<h3><span class="date">21.07.2017</span>Սոցփաթեթով բուժօգնություն ստացողներն այլեւս պոլիկլինիկա չեն դիմի</h3>
							</a>
						</li>
						<li class="col-25">
						   <a href="show.html">
								<div class="icon-youtube-play">
									<img src="images/oponent2.jpg">
								</div>
								<h3><span class="date">20.07.2017</span>«Մոսկվա» կինոթատրոնը հարուստ ֆիլմացանկ է առաջարկում կինոմաններին</h3>
							</a>
						</li>
						<li class="col-25">
						   <a href="show.html">
								<div class="icon-youtube-play">
									<img src="images/oponent3.jpg">
								</div>
								<h3><span class="date">19.07.2017</span>Կյանքի է կոչվում Մեղրի-Նորդուզ դարպասի համատեղ օգտագործման ծրագիրը</h3>
							</a>
						</li>
						<li class="col-25">
						   <a href="show.html">
								<div class="icon-youtube-play">
									<img src="images/oponent4.jpg">
								</div>
								<h3><span class="date">18.07.2017</span>Գերմանիան՝ ընդդեմ Թուրքիայի, ՌԴ-ն՝ Ադրբեջանի, Քուվեյթն՝ Իրանի</h3>
							</a>
						</li>
					</ul>
					<ul class="pagination list-inline">
						<li><a href="#" class="icon-angle-left"></a></li>
						<li><a href="#" class="active">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li><a href="#" class="icon-angle-right"></a></li>
					</ul>
				</div>
			</div>
		</div>
		<span class="seperator"></span>
		<footer>
			<ul class="container clearfix footer-menu">
				<li class="left">
					<h3>Ծրագիր</h3>
					<ul class="sublist">
						<li>
							<span class="time">19:00</span>
							<span class="program-name">Հայլուր</span>
						</li>
						<li>
							<span class="time">20:00</span>
							<span class="program-name">Գ/Ֆ Քեյթն ու Լեոն</span>
						</li>
						<li>
							<span class="time">21:30</span>
							<span class="program-name">Նաիրյան արկածներ</span>
						</li>
						<li>
							<span class="time">22:30</span>
							<span class="program-name">Շտապ Օգնություն</span>
						</li>
						<li>
							<span class="time">23:00</span>
							<span class="program-name">Հայլուր</span>
						</li>
						<li>
							<span class="time">00:00</span>
							<span class="program-name">Անտիպատմություն</span>
						</li>
					</ul>
				</li>
				<li class="left">
					<h3>Հաղորդումներ</h3>
					<ul class="sublist">
						<li>
							<span class="program-name">Հայլուր</span>
						</li>
						<li>
							<span class="program-name">Նաիրյան արկածներ</span>
						</li>
						<li>
							<span class="program-name">Շտապ Օգնություն</span>
						</li>
						<li>
							<span class="program-name">Անտիպատմություն</span>
						</li>
					</ul>
				</li>
				<li class="right">
					<ul class="list-inline menu">
						<li class="social-icon"><a class="icon-facebook" href="#"></a></li>
						<li class="social-icon"><a class="icon-social-youtube" href="#"></a></li>
						<li class="social-icon"><a class="icon-twitter" href="#"></a></li>
						<li class="social-icon"><a class="icon-vkontakte" href="#"></a></li>
						<li class="social-icon"><a class="icon-social-skype" href="#"></a></li>
					</ul>
					<h5><i class="icon-location"></i>Հայաստան, 0010, Երևան Մելիք-Ադամյան փող., 2 շենք (Կենտրոն վարչ. շրջան)</h5>
					<h5><i class="icon-phone"></i> +374-10-587222</h5>
					<span class="footer-logo"></span>
				</li>
			</ul>
			<div class="copyright">
				<h6>Copyright 2017</h6>
			</div>
			<script type="text/javascript" src="js/jquery-3.2.1.js"></script>
			<script type="text/javascript" src="fotorama.4.6.3/fotorama/fotorama.js"></script>
			<script type="text/javascript" src="js/main.js"></script>
		</footer>
	</body>
</html>
